# we use the 2.7.9.2 PM4Py API 
pm4py~=2.7.9.2
numpy 
pandas 
networkx 
deprecation
matplotlib
scipy
scikit-learn
lxml 
graphviz
plotnine
tqdm
jupyterlab
ipywidgets
# CUDA enabled PyTorch is very large
--extra-index-url https://download.pytorch.org/whl/cpu
torch
